#video-div {
	vertical-align: bottom;
	display: none;
	position: relative;
	width: 640px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
}

#video {
	vertical-align: bottom;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: none;
	margin-left: 50%;
	transform: translateX(-50%) scaleX(-1);
}

.camera-buttons {
	width: 180px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.camera-buttons button {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border: none;
	font-size: 20px;
	padding: 5px;
	color:rgb(78, 78, 78);
	background-color:rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px 5px;
	margin: 10px;
	transition: all 0.5s;
	transition-timing-function: ease;
	margin-top: 10px
}

.camera-buttons button:hover {
	box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
	color: rgb(57, 57, 57);
}

.sticker {
	position: absolute;
}

#canvas {
	display: none;
}

#image-form {
	border-radius: 4px 4px;
	background-color: rgb(250, 250, 250);
	border: 1px solid #dbdbdb;
	width: 640px;
	color: #333;
	margin: 5px auto 0;
	display: none;
	transform: translateX(-4px);
}


#title-field {
	border: 1px solid #dbdbdb;
	padding: 5px;
	border-radius: 4px 4px;
	font-size: 18px;
	outline: 0;
	margin: 6px 0 0 7px;
	width: 95%;
	background-color: rgb(250, 250, 250);
	resize: vertical;
}

#description-field {
	border: 1px solid #dbdbdb;
	padding: 5px;
	border-radius: 4px 4px;
	font-size: 16px;
	outline: 0;
	margin: 6px 0 0 7px;
	width: 95%;
	height: 100px;
	background-color: rgb(250, 250, 250);
	resize: vertical;
}

#image-form h1 {
	color: rgb(40, 40, 40);
	font-size: 25px;
	margin: 10px;
}

#image-form label {
	margin-left: 5px;
}

#submit-image {
	-webkit-appearance: none;
	padding: 8px 15px 8px 15px;
	margin: 0;
	background-color: rgb(67, 148, 239);
	border: none;
	border-radius: 4px 4px;
	color: white;
	font-weight: 700;
	transition: all 0.3s;
}

#submit-image:hover {
	cursor: pointer;
	background-color: rgb(57, 138, 231);
}

#cancel-image {
	-webkit-appearance: none;
	padding: 8px 15px 8px 15px;
	margin: 0;
	background-color: #f44336;
	border: none;
	border-radius: 4px 4px;
	color: white;
	font-weight: 700;
	transition: all 0.3s;
}

#cancel-image:hover {
	cursor: pointer;
	background-color: #d63327;
}

#buttons {
	width: fit-content;
	overflow: hidden;
	clear: both;
	text-align: right;
	margin: 5px 25px 5px auto;
}

#click-photo {
	display: none;
}

#final {
	display: inline-block;
	width: 90vw;
	max-width: 640px;
	vertical-align:	bottom;
}

.container {
	width: 1050px;
	margin-left: 50%;
	transform: translateX(-50%);
}
@media only screen and (max-width: 1050px) {
	#stickers {
		width: 640px;
		height: 200px;
		overflow-x: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#stickers img {
		height: 160px;
		margin-left: 20px;
	}

	#drafts {
		width: 200px;
		height: 478px;
		overflow-x: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#drafts img {
		width: 100%;
	}
}

@media only screen and (min-width: 1050px) {
	#stickers {
		width: 200px;
		height: 478px;
		overflow-x: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#stickers img {
		width: 160px;
		margin-left: 20px;
	}


	#drafts {
		width: 200px;
		height: 478px;
		overflow-x: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#drafts img {
		width: 100%;
	}
}

#add_stickers img {
	width: 200px;
}

.information {
	margin: 0 auto;
	width: 90%;
	max-width: 640px;
	background-color: #FFF484;;
	border: 2px solid #DCC600;
	border-radius: 10px;
	position: relative;
}

.information div {
	margin: 10px;
	padding-bottom: 10px;
}

.information b {
	font-weight: 600;
}

.info_header {
	border-bottom: 2px solid #DCC600;
	border-radius: 0px;
}

.info_header h3 {
	color: black;
	font-weight: 700;
	width: fit-content;
	font-size: 20px;
	padding-top: 10px;
	margin-left: 10px;
	display: inline;
}

.info_header i {
	position: absolute;
	right: 15px;
	transform: translateY(2px);
	font-size: 22px;
	cursor: pointer;
}
