#video-div {
	vertical-align: bottom;
	display: none;
	position: relative;
	width: 640px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
}

#video {
	vertical-align: bottom;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	transform: scaleX(-1);
}

.camera-buttons {
	width: 180px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.camera-buttons button {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border: none;
	font-size: 20px;
	padding: 5px;
	color:rgb(78, 78, 78);
	background-color:rgb(255, 255, 255);
	border: 1px solid rgb(219, 219, 219);
	border-radius: 5px 5px;
	margin: 10px;
	transition: all 0.5s;
	transition-timing-function: ease;
	margin-top: 10px
}

.camera-buttons button:hover {
	box-shadow: 0 0 10px rgba(141, 141, 141, 0.2);
	color: rgb(57, 57, 57);
}

.sticker {
	position: absolute;
}

#canvas {
	display: none;
}

#image-form {
	border-radius: 4px 4px;
	background-color: rgb(250, 250, 250);
	border: 1px solid #dbdbdb;
	width: 640px;
	max-width: 640px;
	color: #333;
	margin: 5px auto 0;
	display: none;
}


#title-field {
	border: 1px solid #dbdbdb;
	padding: 5px;
	border-radius: 4px 4px;
	font-size: 18px;
	outline: 0;
	margin: 6px 0 0 7px;
	width: 95%;
	background-color: rgb(250, 250, 250);
	resize: vertical;
}

#description-field {
	border: 1px solid #dbdbdb;
	padding: 5px;
	border-radius: 4px 4px;
	font-size: 16px;
	outline: 0;
	margin: 6px 0 0 7px;
	width: 95%;
	height: 100px;
	background-color: rgb(250, 250, 250);
	resize: vertical;
}

#image-form h1 {
	color: rgb(40, 40, 40);
	font-size: 25px;
	margin: 10px;
}

#image-form label {
	margin-left: 5px;
}

#submit-image {
	-webkit-appearance: none;
	padding: 8px 15px 8px 15px;
	margin: 0;
	background-color: rgb(67, 148, 239);
	border: none;
	border-radius: 4px 4px;
	color: white;
	font-weight: 700;
	transition: all 0.3s;
}

#submit-image:hover {
	cursor: pointer;
	background-color: rgb(57, 138, 231);
}

#cancel-image {
	-webkit-appearance: none;
	padding: 8px 15px 8px 15px;
	margin: 0;
	background-color: #f44336;
	border: none;
	border-radius: 4px 4px;
	color: white;
	font-weight: 700;
	transition: all 0.3s;
}

#cancel-image:hover {
	cursor: pointer;
	background-color: #d63327;
}

#buttons {
	width: fit-content;
	overflow: hidden;
	clear: both;
	text-align: right;
	margin: 5px 25px 5px auto;
}

#click-photo {
	display: none;
}

#final {
	display: inline-block;
	width: 100%;
	max-width: 640px;
	vertical-align:	bottom;
}

.container {
	overflow-x: hidden;
}

#add_stickers img {
	width: 200px;
}

@media only screen and (max-width: 639px) {
	#image-form {
		width: 95vw;
	}

	#add_stickers img {
		width: calc(95vw/3.2);
	}

	#video-div {
		width: 95vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	#cam_texts {
		display: none;
	}
	.container {
		width: 95vw;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	#stickers {
		width: 95vw;
		height: 140px;
		overflow-x: auto;
		overflow-y: hidden;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#stickers ul {
		display: table-cell;
	}

	#stickers li {
		display: table-cell;
	}

	#stickers img {
		object-fit: scale-down;
		float: left;
		display: inline;
		width: fit-content;
		max-width: 200px;
		height: 120px;
		max-height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#drafts {
		display: none;
	}

	#drafts img {
		display: none;
	}
}

@media only screen and (min-width: 480px) and (orientation: portrait) and (hover: none) {
	#add_stickers img {
		width: 200px;
	}
}

@media only screen and (max-width: 480px) {
	#add_stickers img {
		width: calc(95vw/2.4);
	}
}

@media only screen and (min-width: 640px) and (max-width: 1049px) {
	#cam_texts {
		display: none;
	}
	.container {
		width: 640px;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	#stickers {
		width: 640px;
		height: 140px;
		overflow-x: auto;
		overflow-y: hidden;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#stickers ul {
		display: table-cell;
	}

	#stickers li {
		display: table-cell;
	}

	#stickers img {
		object-fit: scale-down;
		float: left;
		display: inline;
		width: fit-content;
		max-width: 200px;
		height: 120px;
		max-height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}

	#drafts {
		display: none;
	}

	#drafts img {
		display: none;
	}
}

@media only screen and (min-width: 1050px) {
	#cam_texts {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 18px;
		color: rgb(78, 78, 78);
	}

	.container {
		width: 1050px;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	#stickers {
		width: 200px;
		height: 478px;
		overflow-y: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#stickers img {
		width: 160px;
		height: fit-content;
		margin-left: 20px;
	}

	#drafts {
		width: 200px;
		height: 478px;
		overflow-x: auto;
		display: none;
		background-color: rgb(250, 250, 250);
		border: 1px solid #dbdbdb;
		transform: translateY(2px);
	}

	#drafts img {
		width: 100%;
	}
}

.information {
	margin: 0 auto;
	width: 90%;
	max-width: 640px;
	background-color: #FFF484;;
	border: 2px solid #DCC600;
	border-radius: 10px;
	position: relative;
}

.information div {
	margin: 10px;
	padding-bottom: 10px;
}

.information b {
	font-weight: 600;
}

.info_header {
	border-bottom: 2px solid #DCC600;
	border-radius: 0px;
}

.info_header h3 {
	color: black;
	font-weight: 700;
	width: fit-content;
	font-size: 20px;
	padding-top: 10px;
	margin-left: 10px;
	display: inline;
}

.info_header i {
	position: absolute;
	right: 15px;
	transform: translateY(2px);
	font-size: 22px;
	cursor: pointer;
}

.upload_image {
	width: 90vw;
	max-width: 640px;
	border-top: 1px solid #cecece;
	margin: auto;
}

#upload_form {
	width: 100%;
	text-align: center;

}

#file_input {
	border: 1px solid #ccc;
	display: block;
	padding: 6px 12px;
	cursor: pointer;
	border-radius: 5px;
}

#upload_form input[type=submit] {
	margin: 10px auto;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 5px;
	color: #3B3B3B;
	cursor: pointer;
	padding: 4px 12px;
	font-size: 16px;
	font-weight: 600;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#upload_form input[type=submit]:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

#upload_form input[type=submit]:active {
	box-shadow: none;
	transform: translateY(0px);
}

#upload_form input {
	display: block;
	margin: auto;
}


.upload_image h5 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	font-size: 18px;
}

