.image-div {
	background-color: rgb(255,255,255);
	margin: 10px auto 0;
	width: 90vw;
	max-width: 640px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 10px 10px;
}

.image-div p{
	word-wrap: break-word;
	margin: 10px;
}

#image-settings {
	width: 90vw;
	max-width: 638px;
	vertical-align:	bottom;
}

#top-bar {
	position: relative;
	height: 42px;
}

#top-bar p {
	font-size: 18px;
	vertical-align: middle;
	line-height: 42px;
	margin: 0px;
	padding-left: 10px;
	font-weight: 600;
	width: fit-content;
	display: inline-block;
}

#top-bar button {
	position: absolute;
	top: 7px;
	right: 10px;
	display: inline-block;
	background-color: #FF4742;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s;
	padding: 5px;
}

#top-bar button:hover {
	background-color: initial;
	background-position: 0 0;
	color: #FF4742;
}

#like-row {
	height: 40px;
}

#like-row i {
	font-size: 26px;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 10px;
}

#like-text {
	background-color: white;
	border: none;
	display: block;
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 1em;
	transition: all 0.3s;
	transition-timing-function: ease-out;
}

#like-text:hover {
	cursor: pointer;
}

#like-text:active {
	color: rgb(60, 60, 60);
}

#name-left {
	margin-left: 10px;
}

#overlay_box {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 10px 10px;
	width: 400px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.236);
	z-index: 4;
}

#overlay_bar {
	border-bottom: 1px solid rgb(219, 219, 219);
	width: 100%;
	height: 36px;
}

#overlay_bar h1 {
	font-size: 16px;
	vertical-align: middle;
	line-height: 36px;
	text-align: center;
	font-weight: 600;
}

#cross {
	position: absolute;
	top: 8px;
	right: 15px;
	font-size: 22px;
	cursor: pointer;
}

#overlay_content li {
	display: block;
	padding: 5px;
}

#overlay_content p {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#dim-background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
	z-index: 3;
}

#hover-button:hover {
	cursor: pointer;
}

#send-comment {
	margin-top: 5px;
	border-top: 1px solid rgb(219, 219, 219);
}

.input-container {
	margin: 17px 0 17px 5%;
}

.input-container textarea {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	height: 20px;
	font-size: 14px;
	border: none;
	resize: none;
	overflow: hidden;
	max-height: 80px;
	vertical-align: middle;
}

@media (max-width: 520px) {
	.input-container textarea {
		width: 85%;
	}
}

.input-container textarea:focus {
	outline: none;
}

.input-container input[type=submit] {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	font-size: 16px;
	font-weight: 600;
	background-color: white;
	color: rgb(4, 150, 248);
	border: none;
	cursor: pointer;
}

.comment-amount {
	color: gray;
	cursor: pointer;
	border: none;
	background-color: white;
	font-size: 14px;
	padding: 0 0 5px 10px;
}

.comment {
	position: relative;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.comment p {
	margin: 10px 0 10px 10px;
	display: inline-block;
	overflow: hidden;
	width: 90%;
}

.comment button {
	float: right;
	font-size: 18px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	border: none;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgb(219, 219, 219);
}

#time-ago {
	color: gray;
	font-size: 12px;
	font-weight: 400;
	padding: 5px 0 5px 10px;
	cursor: default;
}

.confirm_buttons {
	margin: auto;
	width: fit-content;
	height: fit-content;

}

.confirm_buttons button {
	padding: 5px;
	margin: 15px 10px 15px 10px;
	display: inline-block;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
}

.cancel_button {
	background-color: #b5b5b5;
	border: 1px solid #b5b5b5;
	color: #FFFFFF;
	cursor: not-allowed;
	transition: all 0.3s;
}

.cancel_button:hover {
	background-color: #FF4742;
	border-color: #d43934;
}

.confirm_button {
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
	color: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s;
}

.confirm_button:hover {
	background-color: initial;
	background-position: 0 0;
	color: #4CAF50;
}

.pagination {
	width: fit-content;
	margin: 15px auto 0 auto;
	text-align: center;
}

.pagination ul {
	display: inline-block;
	margin: 0 auto;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination input {
	float: left;
	width: 45px;
	height: 35px;
	text-align: center;
	text-decoration: none;
}

.pagination i {
	color: black;
	float: left;
	text-decoration: none;
	padding: 1.5px 0;
}
.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}
