li {
	list-style: none;
	display: inline;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-links li {
	margin: auto;
	font-size: 1.5em;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.5s ease;
	color: black;
}

.nav-links li:hover{
	border-radius: 5px;
}

.logo {
	cursor: pointer;
	height: 2em;
}

.menu {
	display: flex;
	gap: 1em;
}

#icon {
	/* background-color: rgb(250, 250, 250); */
	padding: 3px 4.63px;
	/* border-radius: 50% 50%;
	box-shadow: 0px 0px 2px rgb(118, 118, 118); */
}

#icon:hover {
	cursor: pointer;
	transition: 0.5s ease;
	/* box-shadow: 0px 0px 5px rgb(118, 118, 118); */
}

#name-text {
	transform: translate(-30px, -30px);
	font-size: 20px;
	font-weight: 700;
	color: rgb(48, 48, 48);
	font-style: italic;
	text-align: center;
	padding-right: 5px;
}

header {
	position: fixed;
	z-index: 2;
}
