li {
	list-style: none;
	display: inline;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-links li {
	margin: auto;
	font-size: 1.5em;
	margin-left: 5px;
	margin-right: 5px;
	transition: 0.5s ease;
	color: black;
}

.nav-links li:hover{
	border-radius: 5px;
}

.logo {
	cursor: pointer;
	height: 2em;
}

.menu {
	display: flex;
	gap: 1em;
}

#icon {
	padding: 3px 4.63px;
	cursor: pointer;
	transition: 0.5s ease;
}

#login_button {
	background: #49ad49;
	border: 1px solid #49ad49;
	border-radius: 6px;
	box-shadow: rgb(0 0 0 / 10%) 1px 2px 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	outline: 0;
	padding: 6px 8px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	touch-action: manipulation;
	vertical-align: middle;
}

#login_button:hover, #login_button:active {
	background-color: initial;
	background-position: 0 0;
	color: #49ad49;
}

#login_button:active {
	opacity: .5;
}

#signup_button {
	background: #f25c5c;;
	border: 1px solid #f25c5c;;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	outline: 0;
	padding: 6px 8px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	touch-action: manipulation;
	vertical-align: middle;
}

#signup_button:hover, #signup_button:active {
	background-color: initial;
	background-position: 0 0;
	color: #f25c5c;;
}

#signup_button:active {
	opacity: .5;
}

#name-text {
	transform: translate(-30px, -30px);
	font-size: 20px;
	font-weight: 700;
	color: rgb(48, 48, 48);
	font-style: italic;
	text-align: center;
	padding-right: 5px;
}

header {
	position: fixed;
	z-index: 2;
}
