.profile-container {
	width: 950px;
	margin: auto;
}

.profile-picture {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin-left: 40px;
	margin-right: 60px;
}

.profile-picture img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-info {
	height: 150px;
	display: inline-block;
	vertical-align: top;
}

#bold {
	font-weight: 600;
}

h1 {
	font-weight: 300;
	font-size: 27.25px;
	width: fit-content;
	display: inline-block;
}

#username_bar {
	width: auto;
	height: 38px;
	margin-bottom: 20px;
}

#settings_button {
	margin-left: 20px;
	border: 1px solid rgb(219, 219, 219);
	color: rgb(38, 38, 38);
	border-radius: 4px;
	background: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: inherit;
	vertical-align: text-bottom;
}

#posts_likes li {
	margin-right: 24px;
}

#posts_likes li:last-child {
	margin-right: 0;
}

#posts_likes {
	margin-bottom: 20px;
}

.user_info {
	margin-bottom: 20px;
	margin-top: 25px;
}

.image_grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	width: fit-content;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}


.image_container {
	position: relative;
	width: 293px;
	height: 293px;
}

.image_container img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;

}

.image_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.544);
}

.image_container:hover .image_overlay {
	opacity: 1;
}

.image_stats {
	opacity: 1;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.image_stats li {
	margin-right: 20px;
}

.image_stats li:last-child {
	margin-right: 0;
}

.no_images {
	width: 90%;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

#warning_text {
	text-align: center;
	margin: 20px;
	font-weight: 600;
	font-size: 24px;
}


@media only screen and (max-width: 970px) {
	.profile-container {
		width: 90vw;
	}
	.image_grid {
		grid-template-columns: repeat(2, auto);
		grid-gap: 2vw;
	}
	.image_container {
		width: 45vw;
		height: 45vw;
		max-width: 293px;
		max-height: 293px;
	}
}

@media only screen and (max-width: 513px) {
	.profile-picture {
		width: 100px;
		height: 100px;
		margin-left: 0;
		margin-right: 10px;
	}
	.profile-info {
		height: 100px;
	}

}

@media only screen and (max-width: 358px) {
	#settings_button {
		display: none;
	}
}
