body {
	background-color: rgb(250, 250, 250);
	min-height: 100vh;
	position:relative;
	overflow-x: hidden;
}

button {
	color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

footer {
	text-align: center;
	color: rgb(60, 60, 60);
	border-top: 1px solid rgb(240, 240, 240);
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

main {
	padding-bottom: 100px;
	padding-top: 60px;
	z-index: 1;
}

@media only screen and (max-width: 318px) {
	main {
		padding-top: 90px;
	}
	.nav-links {
		max-width: 130px;
	}
}
