RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^profile/([A-Za-z0-9-]+)/?$    profile.php?username=$1    [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
